@model IEnumerable<InventoryItem>
@{ViewBag.Title = "Inventory List Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">


    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-10 col-sm-10 col-md-10">
                <h2 class="cheading">Inventory List Report
                    <a href="" target="_blank" data-toggle="tooltip" data-placement="top" title="View help document"> <i class="bi bi-question-circle-fill"></i></a>
                </h2>
            </div>
            <div class="col-md-9 col-lg-8">
                <button onclick="downloadPDF()" class="btn btn-success">
                    <i class="bi bi-download"></i> Export
                </button>
            </div>
        </div>
        <br />
        <br />

    <img src="~/images/company.png" id="head" hidden>
    <input id="actor" type="text" value="@ViewBag.ActorName" hidden>
    <input id="surname" type="text" value="@ViewBag.Surname" hidden>
    <input id="count" type="text" value="@ViewBag.total" hidden>

        <table class="table" id="tblData">
            <thead style="background-color: #232323">
                <tr>
                    <th class="text-light">
                        Inventory Name
                    </th>
                    <th class="text-light">
                        Inventory Type
                    </th>
                    <th class="text-light">
                        Quantity on hand
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @obj.InventoryItemName
                        </td>
                        <td>
                            @obj.InventoryType.InventoryTypeName
                        </td>
                        <td>
                            @obj.QuantityOnHand
                        </td>
                    </tr>
                }
                <label for="count">Total Inventory Items on Hand: @ViewBag.total</label>
            </tbody>
        </table>
    </div>




</div>

@section Scripts {
    <script src="~/js/notifications.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>



    <script>
        function downloadPDF() {
        var doc = new jsPDF();
        var header = document.querySelector('#head'); 
        var doc = new jsPDF();
        //HEADER
        var width = doc.internal.pageSize.getWidth();
        var height = doc.internal.pageSize.getHeight();
        doc.addImage(header, 'png', 0, 8, width, height-250)
        //TITLE, DATE, PRINTED BY AND COUNT
        doc.setFontSize(18);
        doc.text(13, 60, "INVENTORY LIST REPORT");
        doc.setFontSize(8);
        var date = new Date().toLocaleString();
        var actorName = $("#actor").val();
        var invcount = $("#count").val();
        var actorSurname = $("#surname").val();
        doc.text(13, 66, "PRINTED BY: " + actorName+' '+actorSurname);
        doc.text(143, 66, "DATE PRINTED: " + date);
        doc.text(150, 80, "Total Inventory Items on Hand:" + invcount); //PRINT COUNT
        //TABLE 
        doc.autoTable( { html: '#tblData', startY:82, headStyles: { fillColor: [35, 35, 35]} });             
        //FOOTER, NEED TO ADD PAGE NUMBERS
        doc.setFontSize(10);
        let finalY = doc.autoTable.previous.finalY;
        doc.text(88, finalY+20, "***END OF REPORT***");  
        const pageCount = doc.internal.getNumberOfPages();
        for(var i = 1; i <= pageCount; i++) {   
            doc.setPage(i);
            doc.text('Page ' + String(i) + ' of ' + String(pageCount),200,290,null,null,"right");
        }    
            doc.save("InventoryListReport.pdf");
        }
    </script>

}