@using NatuurlikBase.Areas.Identity.Pages.Account.Manage
@model NatuurlikBase.ViewModels.OrderQueryVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content-wrapper">
        <div class="container-fluid" id="under">
            <h2 class="acc">My Account</h2>
                <div class="row justify-content-center"> @*CLIENT SIDE NAV CODE*@
                    <div class="col-md-3">
                            <div> 
                                <div class="card sideside">
                                    <ul class="nav flex-column" >
                                        <li class="nav-item"><a class="nav-link man @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="bi bi-person">&nbsp;</i> Profile</a></li>
                                        <li class="nav-item"><a class="nav-link man @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" ><i class="bi bi-lock">&nbsp;</i> Reset Password</a></li>
                                        <li class="nav-item"><a class="nav-link man @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-area="Identity" asp-page="/Account/Manage/Email"><i class="bi bi-envelope">&nbsp;</i> Email</a></li>
                                        @if(User.IsInRole(SR.Role_Customer) || User.IsInRole(SR.Role_Reseller))
                                        {
                                        <li class="nav-item"><a class="nav-link man" asp-controller="Order" asp-action="Index"><i class="bi bi-bag">&nbsp;</i> Orders</a></li>
                                        <li class="nav-item"><a class="nav-link man" asp-controller="Order" asp-action="ViewQueries"><i class="bi bi-question-circle">&nbsp;</i> Queries</a></li>
                                        
                                        }
                                    </ul> 
                                </div>
                            </div>                
                    </div>

                    <div class="col-md-9">
                        <form method="post" asp-action="LogQuery">
                            <div>
                            @if (ViewBag.Error == null)
                            {        
                                        <div class="card">
                                            <div class="card-header" id="ordetails">
                                                <h5>Query Order</h5>
                                            </div>
                                            <div class="card-body">

                                                <div class="form-group" hidden>
                                                     <label asp-for="OrderQuery.OrderId" class="control-label">Order Number: </label>
                                                     <input asp-for="OrderQuery.OrderId" readonly type="text" class="form-control col-md-6" asp-items="@Model.OrdersList"/>                      
                                                </div> 

                                                <div class="form-group">
                                                     <label asp-for="OrderQuery.QueryReasonId" class="control-label">Query Reason:</label>
                                                    <select asp-for="OrderQuery.QueryReasonId" class="form-control col-md-6" asp-items="@Model.QueryReasons"> <option disabled selected>- Select Query Reason -</option></select>
                                                </div>  

                     
                                                    <div class="form-group">
                                                        <label asp-for="OrderQuery.Description" class="control-label">Description:</label>
                                                        <textarea asp-for="OrderQuery.Description" class="form-control col-md-6"placeholder ="Hello, I received the wrong items..."> </textarea>
                                                        <span asp-validation-for="OrderQuery.Description" class="text-danger"></span>
                                                    </div>
                        

                                                <br />
                                                <br />

                                                <button type="submit" asp-controller="Order" asp-action="CreateQuery" class="btn btn-success" style="width:150px">Submit</button>
                                                <a asp-controller="Order" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                        }

                                        <div class="form-group">
                                           <span class="text-warning">
                                              <i class="ratingStar fas fa-star"></i>
                                              <i class="ratingStar far fa-star"></i>
                                              <i class="ratingStar far fa-star"></i>
                                              <i class="ratingStar far fa-star"></i>
                                              <i class="ratingStar far fa-star"></i>
                                            </span>               
                                        </div>
                                            @* <div class="modal fade" id="exampleModal">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header border-0">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <br />
                       
                                                    </div>
                                                     <h6 class="col-md-10"> 
                                                       @ViewBag.Confirmation
                                                        </h6>
                    

                                                    <div class="modal-footer border-0">
                                                        <div class="form-actions no-color">
                                                            <input type="submit" value="Confirm" class="btn btn-success" style="width:150px;"/> 
                                                            <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal" style="width:150px;">Cancel</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>*@
                                         <div class="modal" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header border-0"  style="background-color: black;">
                                                      <h6 style="color: whitesmoke"; >
                                                      <i class="bi bi-info-circle"></i> &nbsp;@ViewBag.Error </h6>
                                                </div>
              

                                                <div class="modal-footer border-0">
                   
                                                    <div class="form-actions no-color">
                                                        <input type="button" value="Close" class="btn btn-outline-dark" data-bs-dismiss="modal"onclick="location.href='@Url.Action("ViewQueries", "Order")'" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form> 
                    </div>
                </div>
            </div>
</div>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
                $("#b1").modal("hide");
            });


        </script>
    }

    @if (ViewBag.Confirmation != null)
    {
        <script>



            $(function () {
                $("#exampleModal").modal("show");
            });


        </script>
    }
}

