@model NatuurlikBase.ViewModels.UserCartVM

@section order {
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div id="page-content-wrapper">
<img src="~/images/carttt.png" id="cartimg"/>

@if (TempData["success"] != null)
{
    <div class="alert alert-warning  alert-dismissible fade show" role="alert" id="success-alert">
         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
       &nbsp @TempData["success"]
    </div>
}
</div>


<form method="post">
	<div class="container" id="montserret">
		<h2 id="cartTitle">CART</h2>
			<div class="row carttable">		
				<div class="table-responsive col-md-9 order-md-1">
				<table class="table-sm d-none d-lg-block">
					<thead class="dark">
						<tr>
							<th class="text-light col-1" id="go">
								Product
							</th>
							<th class="col-4" id="gone">
								Description
							</th>
							 <th class="text-light col-2 goRight">
								Price
							</th>
							 <th class="text-light col-3 tot">
								Quantity
							</th>
							<th class="text-light col-2 tot">
								Total
							</th>
							<th class="text-light col-1" id="come">
								Remove
							</th>
						</tr>
					</thead>
					<tbody>											
						@foreach (var cartItem in Model.CartList)
						{
							@if (cartItem.Count > 0)
							{
								<tr id="main">
									<td>
										<img id="pic" src="@cartItem.Product.PictureUrl" />

										@*//ONLY FOR DEMOSTRATION PURPOSES//*@
										@*<img id="pic" src="~/images/products/75c47ed2-c29c-4ab4-8c59-1c97bf1d48c0.png"/> *@
									</td>
									<td>
										<h6><strong>@cartItem.Product.Name</strong></h6>
										<small>@cartItem.Product.Description</small>
										@if(cartItem.Product.QuantityOnHand <= cartItem.Count)
										{
											<p style="color:red;"><small><strong>Only @cartItem.Product.QuantityOnHand left!</strong></small></p>
										}
										
									</td>
									<td>
										@if (User.IsInRole(SR.Role_Reseller))
										{
											<h6 class="goRight" ><strong>R @cartItem.Product.ResellerPrice.ToString("0.00")</strong></h6>
										}

										else
										{
											<h6 class="goRight"><strong>R @cartItem.Product.CustomerPrice.ToString("0.00") </strong></h6>
										}
									</td>
									<td>
										<div role="group" class="plus">
											<a asp-action="decrement" asp-route-cartId="@cartItem.Id" id="gone">
												<i class="bi bi-dash-lg"></i>
											</a>
											&nbsp;
											<label><strong>@cartItem.Count</strong></label>
											&nbsp;
											<a asp-action="increment" asp-route-cartId="@cartItem.Id" id="gone">
												<strong>
													<i class="bi bi-plus-lg"></i>
												</strong>
											</a>
										</div>
									</td>
									<td> 
										@if(User.IsInRole(SR.Role_Reseller))
										{
											<h6 class="rightTotal"><strong>R @(@cartItem.Product.ResellerPrice * @cartItem.Count)</strong></h6>
										}
										else
										{
											<h6 class="rightTotal"><strong>R @(@cartItem.Product.CustomerPrice * @cartItem.Count)</strong></h6>
										}

									</td>
									<td id="bin">
										<a asp-action="remove" asp-route-cartId="@cartItem.Id" id="gone">
											<i class="bi bi-trash" ></i>
										</a>
									</td>										
								</tr>
							
						}
						else
						{
						}}
											
					</tbody>
				</table>

				<div class="d-lg-none">

					<div id="new">
						<p>Products</p>
					</div>

					<div class="row">
						@foreach (var cartItem in Model.CartList)
						{
							@if (cartItem.Count > 0)
							{
								<div class="col-5">
										<img id="mpic" src="@cartItem.Product.PictureUrl" />
								</div>

								<div class="col">
									<br >
										<h6><strong>@cartItem.Product.Name</strong></h6>
										<p><small>@cartItem.Product.Description</small></p>											

										@if (User.IsInRole(SR.Role_Reseller))
										{
											<h6 id="total">R @cartItem.Product.ResellerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </h6>
										}

										else
										{
											<h6 id="total">R @cartItem.Product.CustomerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </h6>
										}

										<div role="group" class="mobplus">
											<a asp-action="decrement" asp-route-cartId="@cartItem.Id" id="gone">
												<i class="bi bi-dash-lg"></i>
											</a>
											&nbsp;
											<label><strong>@cartItem.Count</strong></label>
											&nbsp;
											<a asp-action="increment" asp-route-cartId="@cartItem.Id" id="gone">
												<strong>
													<i class="bi bi-plus-lg"></i>
												</strong>
											</a>
										</div>																			
@*									<div id="bin">
										<a asp-action="remove" asp-route-cartId="@cartItem.Id" id="gone">
											<i class="bi bi-trash" ></i>
										</a>
									</div>	*@	
								</div>	
								<br />
								
								<hr />
							}
						else
						{}
					}
					</div>
				</div>
				</div>

		        <div class="col-md-3 order-md-2">
                    <div class="card" id="corner">
			            <div class="card-header" id="new">
				            Cart Total
			            </div>
                            <div class="card-body">                                  
								<div class="d-flex justify-content-between" id="total">
									<p> Total (ZAR):</p>
									<p> R @Model.Order.OrderTotal.ToString("0.00")</p>
								</div>


				                <div>						
									@if(@Model.CartList.Count == 0)
									{
										<div>
											<a asp-controller="ProductCatalogue" asp-action="Index" class="btn form-control" id="paybtn">Browse Products</a>
										</div>
									}
									else
									{
										<div>
											<a asp-controller="UserCart" asp-action="CartSummary" class="btn form-control" id="paybtn">Continue to Checkout</a>
										</div>
									}
				                </div>
                            </div>
                    </div>                      
                </div>						
			</div>	
		</div>
</form>

@section Scripts {
    <script src="~/js/notifications.js"></script>
}
