@model NatuurlikBase.ViewModels.PackageOrderVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>


<div id="page-content-wrapper">
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
       &nbsp @TempData["success"]

    </div>
 

}

@if (TempData["error"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="success-alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
       &nbsp @TempData["error"]

    </div>
 

}

<form method="post" asp-action="Capture">
    @if (ViewBag.Error == null)
    {
            
                <div class="card">
                    <div class="card-header" style="background-color: #F2F2F2">
                        <h5>Capture Prepared Order Details</h5>
                    </div>
                    <div class="card-body">
                        @*<div asp-validation-summary="All"></div>*@

    
                <div class="row col">
			
			</div>

                        <br />

                      @*<div class="form-group">


                                <label asp-for="PackageOrderProduct.ProductId" class="control-label">Product :</label>
                                <select asp-for="PackageOrderProduct.ProductId" class ="form-control col-md-10" asp-items="@Model.ProductList"> <option disabled selected>- Select Product -</option></select>
                            </div>  <div class="form-group">


                                <label asp-for="PackageOrderProduct.OrderId" class="control-label">Order Number:</label>
                                <select asp-for="PackageOrderProduct.OrderId" class ="form-control col-md-10" asp-items="@Model.OrdersList"> <option disabled selected>- Select Order Number -</option></select>
                            </div>*@


                        <div class="form-group">
                             <label asp-for="PackageOrderProduct.OrderId" class="control-label">Order Number:</label>
                             <input asp-for="PackageOrderProduct.OrderId" class="form-control col-md-10" readonly>
                        </div> 
                            <div class="form-group">
                             <label asp-for="PackageOrderProduct.ProductId" class="control-label">Select a product:</label>
                            <select asp-for="PackageOrderProduct.ProductId" class="form-control col-md-10" asp-items="@Model.ProductList"> <option disabled selected>- Select Product -</option></select>
                        </div>  

                     
                          <div class="row">
                            <div class="col-md-6">
                                <label asp-for="PackageOrderProduct.ProductQuantity"></label>
                                <input asp-for="PackageOrderProduct.ProductQuantity" class="form-control" />
                                <span asp-validation-for="PackageOrderProduct.ProductQuantity" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#confirmationModal" style="width:150px">Package Order</button>
                        <a asp-controller="PrepareOrder" asp-action="Index" asp-route-orderId="@Model.PackageOrderProduct.OrderId" class="btn btn-outline-dark" style="width:150px">
                            Back
                        </a>
                    </div>
                </div>
                }
           
         <div class="modal" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0"  style="background-color: black;">
                      <h6 style="color: whitesmoke"; >
                      <i class="bi bi-info-circle"></i> &nbsp; Insufficient Inventories available to package requested quantity. </h6>
                </div>
              

                <div class="modal-footer border-0">
                   
                    <div class="form-actions no-color">
                        <input type="button" value="Close" class="btn btn-outline-dark" data-bs-dismiss="modal"onclick="location.href='@Url.Action("Index", "PrepareOrder")'" />

                    </div>
                </div>

            </div>
        </div>
    
    </form>
</div>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
                $("#b1").modal("hide");
            });


        </script>
    }

    @if (ViewBag.Confirmation != null)
    {
        <script>



            $(function () {
                $("#exampleModal").modal("show");
            });


        </script>
    }
}

